/* Last footer */
.ffu_endnav_guide {
	clear: both;
	text-align: left;
	background: #2c4058 url("../assets/endnav-guide/footer2_bg.png") repeat-x;
	/*height: 478px;*/
	font-family: Arial, Helvetica, Verdana, sans-serif;
	padding-top: 15px;
}
	.ffu_endnav_guide .wrapper {
		padding-top: 22px;
		max-width: 1024px;
		margin: 0 auto;
	}
	.ffu_endnav_guide h4 {
		width: auto;
	}
	.ffu_endnav_guide ul {
		padding-left: 0;
		list-style-type: none;
	}
	.ffu_endnav_guide a {
		text-decoration: none;
	}
		.ffu_endnav_guide a:hover {
			text-decoration: underline;
		}
	.ffu_endnav_guide .content {
		margin: 0 auto;
		min-height: 350px;
	}

.ffu_endnav_guide .container-grid {
	display: grid;
	grid-gap: 0;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: auto;
}

	/* Boxes */
	.ffu_endnav_guide .box {
		padding: 0 30px;
	}
	.ffu_endnav_guide .box:first-child,
	.ffu_endnav_guide .box:last-child {
		padding: 0;
	}
		.ffu_endnav_guide .box h4 {
			font-weight: bold;
			font-size: 17px;
			border: 0;
			margin: 0;
			color: white;
			text-shadow: 1px 1px 1px black;
		}
		.ffu_endnav_guide .box li {
			margin-top: 12px;
		}
			.ffu_endnav_guide .box li a {
				color: #b8c4d4;
				font-weight: normal;
				font-size: 15px;
				text-shadow: 1px 1px 1px hsla(0, 1%, 1%, 0.6);
				transition: color 400ms ease-in-out;
			}
				.ffu_endnav_guide .box li a:hover {
					color: white;
				}

/* FFU general info and links */
.ffu_endnav_guide .box.ffu {
	grid-column: 1;
	text-align: center;
}
	.ffu_endnav_guide .box.ffu a {
		color: #798ea8;
		font-size: 12px;
	}
	.ffu_endnav_guide .box.ffu p {
		text-align: center;
		line-height: 120%;
	}
		.ffu_endnav_guide .box.ffu p a {
			color: #9eacbe;
			padding: 0 4px;
		}
	.ffu_endnav_guide .box.ffu .bullet {
		background-color: white;
		background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 62%, rgba(230,230,230,1) 88%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%);
		box-shadow: 0px 0px 10px black;
		border-radius: 8px;
		margin: 29px auto 12px auto;
		padding-top: 1px;
		height: 102px;
		min-width: 180px;
		max-width: 210px;
	}
	.ffu_endnav_guide .box.ffu .bullet p {
		color: #878787;
		font-size: 12px;
		margin-left: 5px;
		padding-top: 50px;
		padding-bottom: 8px;
		background: transparent url("../assets/endnav-guide/ffu_site_logo.png") top center no-repeat;
		background-size: 180px;
	}

	/* FFU sites overview */
	.ffu_endnav_guide .box.sites {
		grid-column: 2;
	}

	/* Popular guides */
	.ffu_endnav_guide .box.guides {
		grid-column: 3;
		background: linear-gradient(
			to right,
			hsla(1,1%,100%,0.15) 0px,
			hsla(1,1%,100%,0.15) 1px,
			hsla(1,1%,1%,0.15) 1px,
			hsla(1,1%,1%,0.15) 2px,
			transparent 2px
		);
		text-align: center;
	}
		.ffu_endnav_guide .box.guides .more-games {
			margin-top: 20px;
			text-align: center;
			font-size: 13px;
			font-weight: bold;
			color: rgb(56, 77, 105);
			background-color: rgba(255, 255, 255, 0.75);
			border-radius: 8px;
			padding: 8px 10px;
			display: inline-block;
			transition: all 400ms ease-in-out;
		}
		.ffu_endnav_guide .box.guides .more-games:hover {
			background-color: rgba(255, 255, 255, 1);
			color: #111821;
			text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2);
		}

/* Social media links */
.ffu_endnav_guide .box.social {
	grid-column: 4;
	background-image: linear-gradient(
		to right,
		hsla(1,1%,100%,0.15) 0px,
		hsla(1,1%,100%,0.15) 1px,
		hsla(1,1%,1%,0.15) 1px,
		hsla(1,1%,1%,0.15) 2px,
		transparent 2px
	);
}
	.ffu_endnav_guide .box.social li {
		background-repeat: no-repeat;
		background-image: url("../assets/endnav-guide/footer2_social_icons.png");
		padding-left: 22px;
	}
	.ffu_endnav_guide .box.social .fb {
		background-position: 0 0;
	}
	.ffu_endnav_guide .box.social .gp {
		background-position: 0 -51px;
	}
	.ffu_endnav_guide .box.social .tw {
		background-position: 0 -26px;
	}
	.ffu_endnav_guide .box.social .rss {
		background-position: 0 -75px;
	}
	/* Göm genom att inte visa nån ikon alls */
	.ffu_endnav_guide .box.social .insta,
	.ffu_endnav_guide .box.social .discord,
	.ffu_endnav_guide .box.social .youtube,
	.ffu_endnav_guide .box.social .spotify {
		background-position: 25px 25px;
	}

/* Who are we? */
.ffu_endnav_guide .who-are-we {
	grid-column: 5;
}
	.ffu_endnav_guide .who-are-we .message {
		background-color: hsla(1,1%,1%,0.3);
		margin-top: 30px;
		color: #9faaba;
		padding: 12px;
		border-radius: 10px;
		position: relative;
		max-width: 190px;
		min-width: 145px;
		float: right;
	}
		.ffu_endnav_guide .who-are-we .message:after {
			content: " ";
			background: transparent url("../assets/_shared/mog_big.png") no-repeat;
			background-size: 100px;
			width: 100px;
			height: 100px;
			position: absolute;
			bottom: -50px;
			right: -40px;
		}
	.ffu_endnav_guide .who-are-we h4,
	.ffu_endnav_guide .who-are-we p {
		margin: 0;
	}
	.ffu_endnav_guide .who-are-we h4 {
		font-size: 16px;
		color: #eee;
		border: 0;
		padding: 0;
	}
	.ffu_endnav_guide .who-are-we p {
		font-size: 14px;
		padding: 12px 0;
		line-height: 150%;
	}
	.ffu_endnav_guide .who-are-we a {
		font-size: 13px;
		color: white;
	}
		.ffu_endnav_guide .who-are-we a:after {
			content: " \00bb";
		}

@media screen and (max-width: 950px) {
	.ffu_endnav_guide .container-grid {
		padding: 20px;
		grid-template-columns: repeat(6, 16%);
		row-gap: 50px;
	}
	.ffu_endnav_guide .box.sites {
		grid-column: 1 / span 2;
		grid-row: 1;
	}
	.ffu_endnav_guide .box.guides {
		grid-column: 3 / span 2;
		grid-row: 1;
	}
	.ffu_endnav_guide .box.social {
		grid-column: 5 / span 2;
		grid-row: 1;
		text-align: right;
	}
		.ffu_endnav_guide .box.social li {
			background-image: none;
		}
	.ffu_endnav_guide .box.ffu {
		grid-column: 1 / span 3;
		grid-row: 2;
		justify-self: center;
	}
	.ffu_endnav_guide .who-are-we {
		grid-column: 4 / span 3;
		grid-row: 2;
		float: none;
		justify-self: center;
	}
		.ffu_endnav_guide .who-are-we .message:after {
			bottom: 0;
			right: -80px;
		}
}

@media screen and (max-width: 640px) {
	.ffu_endnav_guide .box {
		padding: 0;
	}
	.ffu_endnav_guide .box.sites {
		grid-column: 1 / span 3;
		grid-row: 1;
	}
	.ffu_endnav_guide .box.guides {
		grid-column: 4 / span 3;
		grid-row: 1;
		text-align: right;
	}
	.ffu_endnav_guide .box.social {
		text-align: left;
		grid-column: 1 / span 6;
		grid-row: 2;
		background-image: none;
	}
		.ffu_endnav_guide .box.social ul {
			padding: 0;
		}
		.ffu_endnav_guide .box.social li {
			float: left;
		}
		.ffu_endnav_guide .box.social li:first-child {
			padding: 0;
		}
	.ffu_endnav_guide .box.ffu {
		grid-column: 1 / span 3;
		grid-row: 3;
	}
	.ffu_endnav_guide .who-are-we {
		grid-column: 4 / span 3;
		grid-row: 3;
	}
}

@media screen and (max-width: 560px) {
	.ffu_endnav_guide .container-grid {
		row-gap: 20px;
	}
	.ffu_endnav_guide .box.ffu {
		grid-column: 1 / span 6;
		grid-row: 3;
	}
	.ffu_endnav_guide .who-are-we {
		grid-column: 1 / span 6;
		grid-row: 4;
	}
		.ffu_endnav_guide .who-are-we .message {
			margin-top: 0;
		}
}