/* The wrapper - encapsulate everything in this to avoid leekage. */
.ffu_endnav_wrapper {
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: #f1f3f5;
  background-image: linear-gradient(to top, hsla(217, 15%, 72%, 0.55) 0px, #f1f3f5 160px);
}
  .ffu_endnav_wrapper .container {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 30px;
    border-top: 1px dashed #adb5c2;
  }

/* Universal styling */
  .ffu_endnav_wrapper * {
    font-family: "Abel", sans-serif;
    font-size: 18px;
  }
  .ffu_endnav_wrapper a {
    text-decoration: none;
    color: #ea218e;
    transition: color 300ms linear;
  }
  .ffu_endnav_wrapper a:hover {
    text-decoration: underline;
    color: rgb(255, 112, 108);
  }
  .ffu_endnav_wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 35px 0;
  }
    .ffu_endnav_wrapper ul li {
      text-align: center;
      margin: 15px 15px;
    }

/* Utility classes */
  .ffu_endnav_wrapper .centered {
    text-align: center;
  }
  .ffu_endnav_wrapper .flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
  }
    .ffu_endnav_wrapper .flex-row .full-width {
      width: 100%;
    }

/* Specific styling */
  .ffu_endnav_wrapper .main-sites li a {
    background-color: #adb5c2;
    color: white;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 20px;
    transition: background-color 400ms ease-in-out;
  }
    .ffu_endnav_wrapper .main-sites li a:hover {
      background-color: #94a0b3;
    }
  .ffu_endnav_wrapper .additional-info li a {
    color: #2c63be;
    position: relative;
    transition: color 400ms ease-in-out;
    font-size: 18px;
  }
    .ffu_endnav_wrapper .additional-info li a:hover {
      color: #000;
      text-decoration: none;
    }
    /* Inspired by: https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */
    .ffu_endnav_wrapper .additional-info li a::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: -3px;
      left: 0;
      background-color: #bbbdca;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 400ms ease-in-out;
    }
      .ffu_endnav_wrapper .additional-info li a:hover::before {
        visibility: visible;
        transform: scaleX(1);
      }
