.ffu_gototop_wrapper .go-to-top {
	position: fixed;
	z-index: 1000;
	bottom: -70px;
	right: -80px;
	background: #566a91;
	padding: 0 22px;
	width: 160px;
	height: 145px;
	box-sizing: border-box;
	border-radius: 50%;
	text-decoration: none;
}
    .ffu_gototop_wrapper .go-to-top svg {
        width: 50px;
        fill: #ffffffa1;
        position: relative;
        top: -28px;
        right: -2px;
        transition: all 300ms linear;
    }

    .ffu_gototop_wrapper .go-to-top span {
        font-family: Abel, Helvetica, sans-serif;
        font-size: 16px;
        color: white;
        opacity: 0;
        transition: all 400ms cubic-bezier(0.4, 0, 1, 1);
        position: absolute;
        top: 38px;
        left: -60px;
        background: #566a91;
        padding: 3px 18px 3px 9px;
        border-radius: 12px;
    }
    .ffu_gototop_wrapper .go-to-top:hover span,
    .ffu_gototop_wrapper .go-to-top:active span {
        left: -73px;
        opacity: 1;
    }
    .ffu_gototop_wrapper .go-to-top:hover svg,
    .ffu_gototop_wrapper .go-to-top:active svg {
        fill: white !important;
        top: -35px;
    }