/* FFU's TopNav wrapper, adding full width bar on top of pages */
.ffu_topnav_fluid_wrapper {
	clear: both;
	background: #4a6b94 url("../assets/topnav3/topnav_bg.png") repeat-x;
}

/* Main TopNav settings - desktop */
#TopNav {
	width: 760px;
	height: 74px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	font-size: 17px;
	font: normal 8pt verdana, sans-serif;
}
#TopNav * {
	font: normal 8pt verdana, sans-serif;
}
#TopNav a {
	text-decoration: none;
	color: #fff;
	box-sizing: content-box;
	transition: none;
}
#TopNav a:hover {
	text-decoration: underline;
	background: transparent;
	color: #fff;
	transition: none;
}
#TopNav strong {
	font-weight: bold;
}

/* Defaults for link lists etc */
#TopNav ul {
	/*list-style-type: none;*/
	margin: 0;
	padding: 0;
}
#TopNav ul li {
	float: left;
	text-align: center;
	list-style-type: none;
}
#TopNav ul li a {
	display: block;
	text-decoration: none;
}
#TopNav ul li a:hover {
	text-decoration: none;
	transition: none;
}

/* Specific elements for mobile - hide */
#TopNav .ffu_logo,
#TopNav .ffu_topnav_menu_toggle-on,
#TopNav .ffu_topnav_menu_toggle-off {
	display: none;
}

/* TopNav' main parts/blocks */
#TopNav .block {
	float: left;
}
#TopNav .block.site {
	width: 602px;
	height: 57px;
	background: #5B8AC1 url("../assets/topnav3/bg_gamelist.png") no-repeat;
}
#TopNav .block.community {
	text-align: left;
	width: 157px;
	height: 56px;
	background: #758A9A;
	font: 8pt verdana, sans-serif;
	color: #000;
	background-image: linear-gradient(to bottom, #c5d1d9, #74899a);
	border-left: 1px solid #74899a;
	border-bottom: 1px solid #55616b;
}

/* The list of games/guides */
#TopNav nav.games ul {
	padding: 0 0 0 2px;
	width: 597px;
	height: 40px;
}
#TopNav nav.games ul li {
	padding: 0;
}
#TopNav nav.games ul li a {
	height: 40px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* Other pages on FFU */
#TopNav nav.pages {
	width: 592px;
	height: 17px;
	padding: 0 5px;
}
#TopNav nav.pages li a {
	width: 85px;
	height: 17px;
	padding-top: 1px;
	padding-left: 5px;
	color: #fff;
}
#TopNav nav.pages li a:hover {
	color: #000;
	background: url('../assets/topnav3/icon_tilemap.png') no-repeat 8px -18px;
	transition: none;
}

/* News and updates */
#TopNav .newsticker {
	width: 760px;
	height: 14px;
	font: 8pt verdana, sans-serif;
	color: black;
	text-align: left;
	clear: both;
	padding: 1px 0 0 0;
	background-color: #eaead6;
	background-image: linear-gradient(to bottom, #a2a294, #eaead6 40%);
}
#TopNav .newsticker span {
	color: #808080;
}
#TopNav .newsticker a {
	color: black;
}

/* Part/block for the Community */
#TopNav .block.community .join_us {
	font-weight: bold;
	color: white;
	float: right;
	padding-right: 5px;
}
#TopNav .block.community .online .user {
	padding: 1px 2px 1px 4px;
	line-height: inherit;
}
#TopNav .block.community .online .user .username {
	font-size: 8pt;
	font-weight: bold;
	color: #000;
}
#TopNav .block.community .online .links {
	padding: 1px 2px 2px 2px;
	text-align: center;
	color: #505050;
}
/* Hide login form when logged in */
#TopNav .block.community .online.true {
	display: none;
}
/* Community login form */
#TopNav .login {
	margin: 0;
}
#TopNav .login label {
	float: left;
	clear: left;
}
#TopNav .login .icon.username {
	background: url('../assets/topnav3/icon_tilemap.png') no-repeat 0 0;
	margin: 5px 4px 0 5px;
	width: 11px;
	height: 13px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#TopNav .login .icon.password {
	background: url('../assets/topnav3/icon_tilemap.png') no-repeat -20px 0;
	margin: 6px 5px 0 7px;
	width: 8px;
	height: 12px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#TopNav .login .icon.submit {
	border: none;
	background: transparent url('../assets/topnav3/icon_tilemap.png') no-repeat -40px 0;
	margin: 5px 6px 0 0px;
	width: 16px;
	height: 12px;
	float: right;
	cursor: pointer;
	padding: 0;
	border-radius: 0px;
	box-shadow: none;
}
#TopNav .login .input {
	background-color: #fff;
	background-image: linear-gradient(to bottom, #bdd1e9, white 33%);
	border: 1px solid #000;
	color: #000;
	font: 8pt verdana, sans-serif;
	margin-top:3px;
	padding: 0;
	border-radius: 0px;
	padding-left: 2px;
}
	#TopNav .login .input.username {
		width: 129px;
	}
	#TopNav .login .input.password {
		width: 109px;
	}

/* Tablet and smaller */
@media screen and (max-width: 760px) {

	#TopNav {
		width: auto;
		height: auto;
		color: #666;
		position: relative;
		overflow: visible;
	}
		#TopNav .ffu_logo {
			display: block;
			font-size: 24px;
			padding: 0 0 0 58px;
			margin: 0;
			display: block;
			text-align: left;
			float: left;
			background: transparent url("../assets/topnav3/ffu_galaxy-logo.png") no-repeat;
			background-position: 6px 10px;
			line-height: 44px;
			text-shadow: #4A6B94 0px 0px 4px;
		}
			#TopNav .ffu_logo a {
				font-size: 24px;
				color: #383838;
				font-family: Helvetica;
			}
			#TopNav .ffu_logo a:hover {
				text-decoration: none;
			}
			#TopNav .ffu_logo strong {
				color: black;
			}
		#TopNav .ffu_topnav_menu_toggle-on {
			display: block;
			float: right;
			font-size: 20px;
			line-height: 46px;
			display: block;
			color: #383838;
			padding: 0px 12px;
			background-color: hsla(360, 100%, 100%, 0.3);
			text-shadow: #fff 0px 0px 2px;
			cursor: pointer;
			-webkit-box-shadow: -3px 0px 8px 0px rgba(0,0,0,0.25);
			-moz-box-shadow: -3px 0px 8px 0px rgba(0,0,0,0.25);
			box-shadow: -3px 0px 8px 0px rgba(0,0,0,0.25);
		}
			#TopNav .ffu_topnav_menu_toggle-on:hover {
				color: inherit;
				background-color: hsla(360, 100%, 100%, 0.3);
				text-decoration: none;
			}
	#TopNav .block.site {
		height: auto;
		min-height: 45px;
		width: 280px;
		background-color: transparent;
		padding-right: 0;
		transition: right 400ms ease-in-out;
		position: absolute;
		right: -300px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
		background-image: none;
		background-color: #272F38;
		padding: 0px;
		z-index: 10;
	}
	#TopNav .block.site.opened {
		right: 0;
	}
	#TopNav .ffu_topnav_menu_toggle-off {
		display: block;
		position: absolute;
		font-family: Garamond, "Apple Garamond";
		font-weight: bold;
		content: "✖";
		cursor: pointer;
		color: white;
		right: -30px;
		top: 4px;
		padding: 0 0 4px 4px;
		font-size: 34px;
		z-index: 100;
		transition: right 140ms linear;
		transition-delay: 260ms;
	}
		#TopNav .ffu_topnav_menu_toggle-off:hover {
			text-decoration: none;
		}
	#TopNav.menuopen-games .ffu_topnav_menu_toggle-off {
		right: 14px;
		transition: right 140ms linear;
		transition-delay: 260ms;
	}
	#TopNav .newsticker {
		border-bottom: 1px solid black;
		padding-left: 4px;
	}
		#TopNav .newsticker .news_datetime {
			display: none;
		}
	#TopNav .block.community {
		display: none;
	}
	#TopNav nav.games {
		margin-bottom: 18px;
		border-bottom: 3px solid #444;
	}
	#TopNav nav.games ul {
		width: auto;
		height: auto;
		overflow: hidden;
		clear: both;
	}
		#TopNav nav.games ul li {
			float: none;
			text-align: left;
			padding: 0 10px;
		}
			#TopNav nav.games ul li a {
				height: 2.4em;
				line-height: 2.4em;
				text-indent: 0%;
				white-space: nowrap;
				display: block;
				width: 100% !important;
				overflow: visible;
				color: #ddd;
				font-size: 12pt;
				font-weight: bold;
				font-family: Helvetica, sans-serif;
			}
			#TopNav nav.games ul li a small {
				font-size: 10pt;
				font-weight: normal;
			}
			#TopNav nav.games ul li.topnav_more-games {
				background-color: hsla(0,100%,0%,0.15);
				text-align: center;
				margin-top: 10px;
			}
	#TopNav nav.pages {
		width: auto;
		height: auto;
		padding: 0;
	}
	#TopNav nav.pages ul {
		width: auto;
		height: auto;
		overflow: hidden;
		margin: 0;
	}
		#TopNav nav.pages ul li {
			text-align: left;
		}
			#TopNav nav.pages ul li a {
				height: 1.9em;
				text-indent: 0%;
				white-space: nowrap;
				overflow: visible;
				font-size: 9pt;
				font-weight: bold;
				font-family: Helvetica, sans-serif;
				width: auto;
				padding: 0 10px 10px 10px;
				color: #bbb;
				transition: color 300ms linear;
			}
			#TopNav nav.pages ul li a:hover {
				background-image: none;
				color: white;
			}
		#TopNav .topnav_more-ff {
			display: none;
		}

}

/* Middle sized (between tablet and phone) */
@media screen and (max-width: 500px) {
	#TopNav .newsticker strong {
		display: none;
	}
}

/* Phone size */
@media screen and (max-width: 360px) {
	.ffu_topnav_fluid_wrapper {
		height: 46px;
	}
	#TopNav .ffu_topnav_menu_toggle-on {
		font-size: 16px;
	}
	#TopNav .ffu_logo span {
		display: none;
	}
	#TopNav .newsticker {
		display: none;
	}
}
