@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Abel');

/* Universal defaults and resets all should have to play better with the site. Should not be overwritable. */
html, body {
	height: auto;
	max-width: 100vw;
}
body {
	/*padding: 111px 0 0 0 !important;*/
	margin: 0 !important;
	overflow-x: hidden !important;
}

/* Animations */
@keyframes fadeIn70FromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 0.7;
    }
}
@keyframes fadeIn100FromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1.0;
    }
}

/* Resets */
.ffu_topnav_menu_toggle-on,
.ffu_topnav_menu_toggle-off {
	display: none;
}
.ffu_tn5_wrapper ul,
.ffu_tn5_wrapper ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.ffu_tn5_wrapper a,
.ffu_tn5_wrapper a:hover,
.ffu_tn5_wrapper a:active,
.ffu_tn5_wrapper a:focus {
	text-decoration: none;
}

/* TN5-beta */
.ffu_tn5_body-mask {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	background-color: rgb(0,0,0);
	z-index: 50;
	/*animation: opacity 300ms ease;*/
	animation: fadeIn70FromNone 0.4s ease-out;
}
/* Main wrapper */
.ffu_tn5_wrapper {
	font: normal 8pt verdana, sans-serif;
	/*position: fixed;
	top: 0;
	width: 100%;*/
	box-shadow: 0 0 9px 0 rgba(0,0,0,.3);
	/*z-index: 1000;*/
	padding: 0;
}
	.ffu_tn5_menu_toggler {
		display: none;
	}
/*
body.menu-open .ffu_tn5_sites_container,
body.menu-open header.theme-header,
body.menu-open #main_wrapper,
body.menu-open #page_expander,
body.menu-open footer {
	filter: blur(4px);
}
*/
/* Main site header part */
.ffu_tn5_sites_container {
	z-index: 100;
	border-top: 5px solid #566a91;
	background-color: #adb5c2;
	background-image: linear-gradient(to bottom, #adb5c2, hsla(219.7, 25.5%, 45.3%, 0.4));
	padding: 0 10px;
	box-sizing: border-box;
}
	.ffu_tn5_sites_block {
		max-width: 1280px;
		margin: 0 auto;
		overflow: hidden;
		padding: 5px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

		/* Logo/home button */
		.ffu_tn5_sites_block .ffu_tn5_logo {
			font: normal 24px 'Abel', sans-serif;
			background: transparent url("../assets/topnav5/logo_mog_small.png") no-repeat;
			background-size: 30px;
			padding: 0 0 0 38px;
			line-height: 40px;
			color: #444;
			transition: color 300ms linear;
		}
			.ffu_tn5_sites_block .ffu_tn5_logo small,
			.ffu_tn5_sites_block .ffu_tn5_logo strong {
				font: normal 24px 'Abel', sans-serif;
				line-height: 40px;
			}
			.ffu_tn5_sites_block .ffu_tn5_logo strong {
				font-weight: bold;
				color: #333;
			}
			.ffu_tn5_sites_block .ffu_tn5_logo small {
				font-size: 20px;
			}
			.ffu_tn5_logo:hover,
			.ffu_tn5_logo:hover strong {
				color: #000;
			}

		/* Site list */
		.ffu_tn5_wrapper nav.sites ol {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
			.ffu_tn5_wrapper nav.sites ol li {
				padding: 12px;
				margin: 0 15px;
			}
				.ffu_tn5_wrapper nav.sites ol li a {
					color: white;
					padding-bottom: 3px;
					font: normal 16pt "Abel", sans-serif;
					border-width: 0px;
					transition: border-width 200ms;
				}
					.ffu_tn5_wrapper nav.sites ol li a:hover,
					.ffu_tn5_wrapper nav.sites ol li a:active,
					.ffu_tn5_wrapper nav.sites ol li a:focus {
						border-bottom: 5px solid #f369;
						/*border-top: 17px solid #566a91;*/ /* Cool but useless "bleed to top"-effect */
					}

		/* Community area */
		.ffu_tn5_sites_block .community-part {
			color: #ddd;
			font: 9pt Verdana, Arial, sans-serif;
		}
			.ffu_tn5_sites_block .community-part .divider-text {
				color: #ddd;
				font: 9pt Verdana, Arial, sans-serif;
			}
			/* User is online - present details about the session */
			.ffu_tn5_sites_block .community-part .user-is-online {
				display: none;
			}
				.ffu_tn5_sites_block .community-part .user-is-online a {
					color: #3968AD;
					font: bold 10pt Arial, sans-serif;
					transition: color 400ms linear, text-shadow 300ms linear;
				}
					.ffu_tn5_sites_block .community-part .user-is-online a:hover,
					.ffu_tn5_sites_block .community-part .user-is-online a:active,
					.ffu_tn5_sites_block .community-part .user-is-online a:focus {
						color: #444;
					}
					.ffu_tn5_sites_block .community-part .user-is-online .username {
						display: block;
					}
					.ffu_tn5_sites_block .community-part .user-is-online .logout {
						float: right;
						font-weight: normal;
						padding-left: 15px;
					}
					/* Over-ride defaults on root guide-nav site ("light theme") */
					.ffu_tn5_sites_block .community-part .user-is-online,
					.ffu_tn5_sites_block .community-part .user-is-online strong {
						font: normal 9pt Verdana,Arial,sans-serif;
						color: #ddd;
					}
					.ffu_tn5_sites_block .community-part .user-is-online strong {
						font-weight: bold;
					}

			/* User is offline - present login and signup links */
			.ffu_tn5_sites_block .community-part .login {
				color: #3968AD;
				border-width: 0;
				font: bold 10pt Arial, sans-serif;
				transition: color 400ms linear;
				margin-right: 8px;
				padding-bottom: 4px;
			}
				.ffu_tn5_sites_block .community-part .login:hover,
				.ffu_tn5_sites_block .community-part .login:active,
				.ffu_tn5_sites_block .community-part .login:focus {
					color: #444;
				}
			.ffu_tn5_sites_block .community-part .register {
				background-color: #ccffcc;
				background-image: linear-gradient(45deg, #3968AD, #4384D3);
				padding: 8px 12px;
				border-radius: 18px;
				color: #fff;
				border-width: 0;
				box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
				font: bold 8pt Verdana, Arial, sans-serif;
				transition: box-shadow 300ms linear, text-shadow 300ms linear;
				margin-left: 8px;
				border: 1px solid transparent;
			}
				.ffu_tn5_sites_block .community-part .register:hover,
				.ffu_tn5_sites_block .community-part .register:active,
				.ffu_tn5_sites_block .community-part .register:focus {
					box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
					border: 1px solid #3968AD;
					text-shadow: 0 0 2px rgba(0,0,0,0.4);
				}

/* List of games */
.ffu_tn5_games_container {
	background-color: #fff;
	padding: 0 10px;
	/*box-shadow: 0 0 9px 0 rgba(0,0,0,.3);*/
}
	.ffu_tn5_games_block {
		max-width: 1280px;
		margin: 0 auto;
		display: flex;
	   justify-content: space-between;
		align-items: center;
	}
		.ffu_tn5_games_block .divider {
			width: 1px;
			background-color: #adb5c2;
			opacity: .5;
			height: 28px;
		}
		.ffu_tn5_games_block > .menu-label {
			display: none;
		}
		.ffu_tn5_games_block > ol {
			display: flex;
			align-items: center;
			/*justify-content: space-between;*/
			position: relative;
			/*float: left;*/
		}
		.ffu_tn5_games_block > ol:last-child::after {
			display: none;
		}
			.ffu_tn5_games_block .topnav-games-item {
				padding: 0 2px;
				/*font-family: 'Roboto Slab', serif;*/
				position: relative;
			}
			.ffu_tn5_games_block .topnav-games-item.active-events {
				width: 18px;
				height: 18px;
				background-color: #f36;
				color: white;
				border-radius: 50%;
				display: block;
				text-align: center;
				line-height: 18px;
				right: 0;
				top: 2px;
				position: absolute;
				transition: all .4s ease-in-out;
			}
				.ffu_tn5_games_block .topnav-games-item.active-events:hover {
					width: 400px;
					height: 400px;
					right: -200px; /* Med denna får vi en centrerad x-axis på stora bubblan */
				}
				.ffu_tn5_games_block .topnav-games-item .menu-label {
					display: block;
				}
				.ffu_tn5_games_block .topnav-games-item a,
				.ffu_tn5_games_block .topnav-games-item.disabled {
					padding: 0px 13px 0px 10px;
					color: #444;
					display: block;
					letter-spacing: -2px;
					transition: background-color 300ms ease-out, color 300ms ease-out;
    				margin: 2px 0;
				}
					.ffu_tn5_games_block .topnav-games-item a:hover,
					.ffu_tn5_games_block .topnav-games-item a:active,
					.ffu_tn5_games_block .topnav-games-item a:focus {
						/*background-color: #444;*/
						background-color: #d5d8de;
						/*box-shadow: 0 0 20px hsla(1,0%,0%,0.5);*/
					}
					.ffu_tn5_guides_main-series .topnav-games-item a,
					.ffu_tn5_guides_spinoffs .topnav-games-item a {
						border-radius: 25px;
					}
						.ffu_tn5_games_block .topnav-games-item a:hover .short-name,
						.ffu_tn5_games_block .topnav-games-item a:active .short-name,
						.ffu_tn5_games_block .topnav-games-item a:focus .short-name {
							color: #000;
						}
					.ffu_tn5_games_block .topnav-games-item .full-name,
					.ffu_tn5_games_block .topnav-games-item abbr {
						display: none;
					}
					.ffu_tn5_games_block .topnav-games-item .short-name {
						font: normal 20pt/180% 'Roboto Slab', serif;
						/*line-height: 40px;*/
						white-space: nowrap;
					}
					.ffu_tn5_games_block .topnav-games-item abbr::before {
						content: "(";
					}
					.ffu_tn5_games_block .topnav-games-item abbr::after {
						content: ")";
					}
		/*.ffu_tn5_games_block .topnav-games-item.more-games {
			float: right;
		}*/
			.ffu_tn5_games_block .topnav-games-item.more-games {
				font: normal 12pt Arial, sans-serif;
				padding: 5px 30px 5px 10px;
				background-color: transparent;
				border-radius: 3px;
				margin-left: 12px;
				color: hsl(213.5, 39.4%, 57.3%);
				position: relative;
				transition: background-color 300ms ease-out, color 300ms ease-out;
				border: 1px solid hsla(219.7, 25.5%, 45.3%, 0.4);
			}
				.ffu_tn5_games_block .topnav-games-item.more-games .menu-label {
					border: none;
					background: none;
					color: inherit;
					padding: 0;
					margin: 0;
					font: inherit;
					white-space: nowrap;
					margin-right: 4px;
				}
		.ffu_tn5_games_block .topnav-games-item.more-games:before,
		.ffu_tn5_games_block .topnav-games-item.more-games:after {
			content: '';
			position: absolute;
			top: 13px;
			width: 8px;
			border: 2px solid hsl(213.2, 59.5%, 53.5%);
			background-color: hsl(213.2, 59.5%, 53.5%);
			box-sizing: content-box;
		}
		.ffu_tn5_games_block .topnav-games-item.more-games:before {
			transform: rotateZ(45deg);
			-webkit-transform: rotateZ(45deg);
			right: 15px;
		}
		.ffu_tn5_games_block .topnav-games-item.more-games:after {
			transform: rotateZ(-45deg);
			-webkit-transform: rotateZ(-45deg);
			right: 9px;
		}

				.ffu_tn5_games_block .topnav-games-item.more-games:hover,
				.ffu_tn5_games_block .topnav-games-item.more-games:active,
				.ffu_tn5_games_block .topnav-games-item.more-games:focus {
					cursor: pointer;
					/*background-color: hsl(219.6, 26.3%, 62.7%);
					color: white;*/
				}
				.ffu_tn5_games_block .topnav-game-dropdown {
					/*display: none;*/
					position: absolute;
					box-shadow: 0 0 0 5px hsla(1,1%,1%,0.35);
					border-radius: 5px;
					background-color: #fff;
					padding: 5px 10px;
					top: -1px;
					right: -1px;
					z-index: 200;
					opacity: 0;
					transition: all 300ms ease-out;
					cursor: default;
				}
				.ffu_tn5_games_block .topnav-games-item.more-games:hover .topnav-game-dropdown,
				.ffu_tn5_games_block .topnav-games-item.more-games:active .topnav-game-dropdown,
				.ffu_tn5_games_block .topnav-games-item.more-games:focus .topnav-game-dropdown {
					/*display: block;*/
					opacity: 1;
					transform: translateY(10px);
				}/*
				.ffu_tn5_games_block .topnav-game-dropdown .topnav-games-item {
					line-height: 20px;
				}*/
				.ffu_tn5_games_block .topnav-game-dropdown .topnav-games-item:first-child::before {
					content: "Fler spelguider:";
					color: #678ebd;
					text-align: center;
    				display: block;
					padding: 6px 0 10px 0;
					border-bottom: 1px solid #e1e1e1;
					margin-bottom: 6px;
				}
					.ffu_tn5_games_block .topnav-game-dropdown .topnav-games-item a {
						font: normal 10pt Arial, sans-serif;
						line-height: 22px;
						letter-spacing: normal;
						padding: 2px 0px 0px 0;
						border-bottom: 1px solid transparent; /* To fix jagg */
						display: inline-block;
						white-space: nowrap;
						margin-bottom: 4px;
					}
						.ffu_tn5_games_block .topnav-game-dropdown .topnav-games-item a:hover,
						.ffu_tn5_games_block .topnav-game-dropdown .topnav-games-item a:active,
						.ffu_tn5_games_block .topnav-game-dropdown .topnav-games-item a:focus {
							background-color: transparent;
							color: #5E7698;
							border-bottom: 1px solid #538FD8;
							box-shadow: none;
						}
						.ffu_tn5_games_block .topnav-game-dropdown .topnav-games-item .short-name,
						.ffu_tn5_games_block .topnav-game-dropdown .topnav-games-item abbr {
							display: none;
						}
						.ffu_tn5_games_block .topnav-game-dropdown .topnav-games-item .full-name {
							display: block;
							font: normal 22px 'Abel', sans-serif;
						}
				/* Menu moved into this dropdown - greedyNav */
				.ffu_tn5_games_block .topnav-game-dropdown .ffu_tn5_guides_spinoffs {
					display: block;
				}
		.ffu_tn5_games_block .topnav-games-item.disabled {
			opacity: 0.3;
		}

/* ********************** */
/* ***** RESPONSIVE ***** */
/* ********************** */

/* Large desktop */
/* Stats: 1280 or more stands for 33% of total usage */
/* Stats: 1920 or more stands for 15% of total usage */
@media screen and (min-width: 1280px) and (max-width: 1919px) { /* 32% total in this range */
	/* TODO */
}

/* Medium desktop */
/* Stats: 2% mobile users land in this space (none higher than this) */
/* Stats: 1024 or more stands for 35% of total usage */
/* KEY EVENT: Hide the spinoff romans into the dropdown menu "more games".*/
@media screen and (min-width: 1024px) and (max-width: 1279px) { /* 6% total in this range */
	/* TODO */
}
@media screen and (max-width: 1279px) {
	/* Hide spinoff nav on smaller screens (placed into dropdown) */
	.ffu_tn5_wrapper .ffu_tn5_guides_spinoffs {
		display: none;
	}
	.ffu_tn5_wrapper .divider.divider-others {
		display: none;
	}
	.ffu_tn5_games_block .topnav-game-dropdown .topnav-games-item .full-name {
		font-size: 18px;
	}
	.ffu_tn5_games_block .topnav-game-dropdown .topnav-games-item a {
		border-radius: 0;
	}
}

/* Smaller desktop */
/* Stats: 1% mobile users land in this space */
@media screen and (min-width: 768px) and (max-width: 1023px) { /* 6% total in this range */
	/* TODO */
}
@media screen and (max-width: 1023px) {
	.ffu_tn5_wrapper .community-part {
		display: none;
	}
	.ffu_tn5_games_block .topnav-games-item a {
		padding: 2px 10px;
	}
}

@media screen and (min-width: 1024px) {
	.ffu_tn5_wrapper .ffu_tn5_games_block::before {
		content: "Välj en guide:";
		font: normal 10pt Arial,sans-serif;
		display: block;
		color: #566991;
		line-height: 52px;
		opacity: 0.8;
		white-space: nowrap;
	}
}
@media screen and (max-width: 900px) {
	.ffu_tn5_games_block .topnav-games-item a {
		padding: 2px 8px;
	}
	.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item .short-name {
		font-size: 16pt;
	}
}
@media screen and (min-width: 768px) {
	/* TODO */
}

@media screen and (min-width: 550px) {
	.ffu_tn5_wrapper .ffu_tn5_body-mask {
		display: none !important; /* Make sure mask is hidden on wide screens */
	}
}

/* Large phone, or Tablet (and smaller) */
/* Stats: 6.5% users have 768 wide mobile phones. */
/* Stats: Desktop stats not available */
@media screen and (max-width: 767px) {
	.ffu_tn5_wrapper .ffu_tn5_sites_block .sites li {
		margin: 0;
	}
		.ffu_tn5_wrapper .ffu_tn5_sites_block .sites li a {
			font-size: 13pt;
		}
		.ffu_tn5_guides_spinoffs .topnav-games-item {
			border-radius: 0;
		}
			.ffu_tn5_games_block .topnav-games-item a {
				padding: 2px 5px;
			}
			.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item .short-name {
				font-size: 15pt;
				line-height: 28px;
			}
}

@media screen and (max-width: 650px) {
	.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item .short-name {
		font-size: 13pt;
	}
	.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item.more-games {
		border: none;
		font-size: 10pt;
		padding: 5px 30px 5px 0;
	}
}
@media screen and (min-width: 550px) and (max-width: 650px) {
	.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item.more-games {
		font-weight: normal;
		/*color: #444;*/
		background-color: transparent;
		margin-left: 0;
	}
}

/* Larger phone */
/* Stats: Around 30% mobile users lands in the areas between 360 and 760 (spread mostly between 3XX and 4XX, then 7XX)  */
@media screen and (min-width: 550px) and (max-width: 759px) {

}
/* Medium phone */
@media screen and (min-width: 360px) and (max-width: 549px) {

}
/* At this width, use the toggle menu for sites and guides. */
@media screen and (max-width: 549px) {
	body.menu-open .ffu_tn5_body-mask {
		display: block;
		opacity: 0.7;
		top: 56px;
	}
	.ffu_tn5_wrapper {
		/*overflow: visible;*/
		position: relative; /* This makes the position absolute outside menu (the slidein) draw outside of page instead of forcing horisontal scroll. */
	}
	.ffu_tn5_wrapper.menu-open {
		position: relative;
	}

	/*!
	 * Hamburgers
	 * @description Tasty CSS-animated hamburgers
	 * @author Jonathan Suh @jonsuh
	 * @site https://jonsuh.com/hamburgers
	 * @link https://github.com/jonsuh/hamburgers
	 */
	.hamburger {
	  padding: 15px 15px;
	  display: inline-block;
	  cursor: pointer;
	  transition-property: opacity, filter;
	  transition-duration: 0.15s;
	  transition-timing-function: linear;
	  font: inherit;
	  color: inherit;
	  text-transform: none;
	  background-color: transparent;
	  border: 0;
	  margin: 0;
	  overflow: visible;
  }
	  .hamburger:hover,
	  .hamburger:active,
	  .hamburger:focus {
	    opacity: 0.7; }

	.hamburger-box {
	  width: 40px;
	  height: 24px;
	  display: inline-block;
	  position: relative; }

	.hamburger-inner {
	  display: block;
	  top: 50%;
	  margin-top: -2px; }
	  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	    width: 40px;
	    height: 4px;
	    background-color: #444; /* Color of the "burger's layers" */
	    border-radius: 4px;
	    position: absolute;
	    transition-property: transform;
	    transition-duration: 0.15s;
	    transition-timing-function: ease; }
	  .hamburger-inner::before, .hamburger-inner::after {
	    content: "";
	    display: block; }
	  .hamburger-inner::before {
	    top: -10px; }
	  .hamburger-inner::after {
	    bottom: -10px; }
		/*
		   * Emphatic
		   */
		.hamburger--emphatic {
		  overflow: hidden; }
		  .hamburger--emphatic .hamburger-inner {
		    transition: background-color 0.125s 0.175s ease-in; }
		    .hamburger--emphatic .hamburger-inner::before {
		      left: 0;
		      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
		    .hamburger--emphatic .hamburger-inner::after {
		      top: 10px;
		      right: 0;
		      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
		  body.menu-open .hamburger--emphatic .hamburger-inner {
		    transition-delay: 0s;
		    transition-timing-function: ease-out;
		    background-color: transparent;
			 /*background-color: #000;*/
		  }
		    body.menu-open .hamburger--emphatic .hamburger-inner::before {
		      left: -80px;
		      top: -80px;
			   background-color: #000;
		      transform: translate3d(80px, 80px, 0) rotate(45deg);
		      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
		    }
		    body.menu-open .hamburger--emphatic .hamburger-inner::after {
		      right: -80px;
		      top: -80px;
			   background-color: #000;
		      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
		      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
		    }


		/* Menu toggler */
		.ffu_tn5_menu_toggler {
			/*display: block;*/
			cursor: pointer;
			position: absolute;
			top: 2px;
			right: 0px;
			z-index: 1000;
		}/*
		.ffu_tn5_menu_toggler::before {
			content: " Fler guider";
			color: hsla(1,1%,100%,0.8);
			font-size: 16px;
			float: right;
			padding-left: 40px;
		}*/


		.ffu_tn5_wrapper .divider {
			display: none;
		}
		/* Sites */
		.ffu_tn5_wrapper .ffu_tn5_sites_block {
			/*position: relative;*/
			/*overflow: visible;*/
		}
			.ffu_tn5_wrapper-menu-open .ffu_tn5_sites_block {
				z-index: 101;
			}
			/* Beware, during use on mobile this element will move around, don't use over-specific selectors */
			.ffu_tn5_wrapper nav.sites {
				background-color: #8A97AF;
			}
			.ffu_tn5_wrapper nav.sites ol {
				display: flex;
			}
				.ffu_tn5_wrapper nav.sites ol li {
					margin: 0;
					padding: 4px 12px 16px 12px;
				}
					.ffu_tn5_wrapper nav.sites ol li a {
						font-size: 14pt;
						transition: color 300ms linear;
						font-weight: bold;
						text-shadow: 0 0 2px hsla(1,0%,0%,0.5);
					}
					.ffu_tn5_wrapper nav.sites ol li a:hover,
					.ffu_tn5_wrapper nav.sites ol li a:active,
					.ffu_tn5_wrapper nav.sites ol li a:focus {
						background-image: none;
						color: white;
					}
body.menu-open {
	max-height: 100vh;
	overflow: hidden;
}
	/* List of guides */
	.ffu_tn5_wrapper .ffu_tn5_games_block {
		min-width: 200px; /* Not realistic to ever be used on this low size, but I have at least tested this and it looks good. =) */
		max-width: 80%;
		padding-right: 0;
		transition: right 400ms ease-in-out;
		position: absolute;
		top: 55px;
		right: -450px;
		max-height: calc(100vh - 55px);
		overflow-y: scroll;
		overflow-x: hidden;
		background-color: #fff; /*#272F38;*/
		padding: 0px;
		z-index: 10;
		/*overflow: visible;*/
		display: block; /* Turn off flex */
		/*box-shadow: 0 0 20px black;*/
		z-index: 99;
	}
	.ffu_tn5_wrapper.menu-open .ffu_tn5_games_block {
		right: 0;
	}
		.ffu_tn5_wrapper .ffu_tn5_games_block .menu-label {
			display: block;
			font: bold 10pt/160% Helvetica, sans-serif;
			color: #999;
			padding: 6px 10px;
			margin-top: 10px;
			text-transform: uppercase;
		}/*
			.ffu_tn5_wrapper .ffu_tn5_games_block .menu-label:after {
				content: "";
				height: 2px;
				width: 150px;
				background-color: #566a91;
				display: block;
				margin: 4px 0 2px 0;
			}*/
			.ffu_tn5_wrapper.menu-open .ffu_tn5_guides_other-games .menu-label {
				display: none;
			}
			.ffu_tn5_wrapper .ffu_tn5_games_block ol {
				display: block;
				/*float: left;
				clear: right;*/
			}
			.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item {
				float: none;
				text-align: left;
				padding: 0;
			}
			.topnav-games-item a {
				border-radius: 0;
			}
				.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item.disabled span,
				.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item a {
					/*height: 2.0em;*/
					/*line-height: 180%;*/
					white-space: nowrap;
					display: block;
					width: 100% !important; /* Get's overwritten otherwise */
					overflow: visible;
					color: #444;
					font: normal 12pt/160% Helvetica, sans-serif;
					padding: 0px 10px;
					/*margin-bottom: 4px;*/
				}
					.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item.disabled {
						display: none;
					}
					.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item a:hover,
					.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item a:active,
					.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item a:focus {
						background-color: transparent;
						color: #5e7698;
    					border-bottom: 1px solid #538fd8;
						border: 0; /* Reset prev style, for testing */
						box-shadow: none;
					}
				.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item .full-name {
					display: block;
					letter-spacing: normal;
					color: #444;
					font: normal 22px 'Abel', sans-serif;
					padding-left: 42px;
					transition: color 300ms ease-in;
					line-height: 40px;
				}
				/*.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item .short-name,*/
				.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item abbr {
					display: none;
				}
				.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item .short-name {
					float: left;
					display: block;
					background-color: #8a97af;
					color: white;
					border-radius: 50%;
					width: 36px;
					height: 36px;
					line-height: 36px;
					text-align: center;
					margin-top: -36px;
					transition: background-color 300ms ease-in;
					text-shadow: 0 0 2px hsla(1,0%,0%,0.5);
				}
					.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item a:hover .full-name,
					.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item a:active .full-name,
					.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item a:focus .full-name {
						color: black;
					}
					.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item a:hover .short-name,
					.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item a:active .short-name,
					.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item a:focus .short-name {
						background-color: #566a91;
						color: white;
					}
				.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item.more-games {
					/*text-align: center;
					margin-top: 10px;*/
					background-color: transparent;
				}
					.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item.more-games > span {
						display: none;
					}
					.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-game-dropdown {
						position: static;
						box-shadow: none;
						border-radius: 0;
						padding: 0;
						opacity: 1;
					}
					.ffu_tn5_wrapper.menu-open .ffu_tn5_guides_other-games .topnav-games-item.more-games {
						margin-left: 0;
					}
						.ffu_tn5_wrapper.menu-open .ffu_tn5_guides_other-games  .topnav-game-dropdown .topnav-games-item a {
							margin: 0 0 4px 0;
						}
						.ffu_tn5_games_block .topnav-game-dropdown .topnav-games-item .full-name {
							font-size: 22px; /* Other page themes overwrite this */
						}
						/* Turn of "more games" drop down button and its components on mobile */
						.ffu_tn5_games_block .topnav-game-dropdown .topnav-games-item:first-child::before {
							display: none;
						}
						.ffu_tn5_games_block .topnav-games-item.more-games::before, .ffu_tn5_games_block .topnav-games-item.more-games::after {
							display: none;
						}
						.ffu_tn5_games_block .topnav-games-item.more-games {
							border: 0;
						}

	/* Hide site menu when it's inside its normal habitat */
	.ffu_tn5_wrapper .ffu_tn5_sites_block nav.sites {
		display: none;
	}
		.ffu_tn5_wrapper nav.sites ol {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
}

/* Normal/small phone, and less */
/* Stats: We have 6.5% mobile usage below 360 (down to 320) */
/* Stats: Almost 50% of our mobile users are on exactly 360! */
@media screen and (max-width: 359px) {
	/*.ffu_tn5_wrapper .ffu_tn5_logo small {
		display: none;
	}*/
	/*
	.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item.disabled span,
	.ffu_tn5_wrapper .ffu_tn5_games_block .topnav-games-item a {
		font-size: 12pt;
	}
	*/
}
